<h2>All Achievements</h2>

<% @achievements.each do |achievement| %>
  <%= link_to achievement.name, achievement_path(achievement) %>
  <img src="<%= achievement.img_reference %>" alt="<%achievement.description%>" height="60" width="60">
  <%= achievement.description %></br></br>
<% end %>



<style>
body {
    background-color: white;
}
</style>
