<h2>People who completed <%= @activity.name %></h2>

<% @users.sort.each do |user| %>
  <li><%= link_to user.name, user_path(user) %></li>
<% end %>


<style>
body {
    background-color: white;
}
</style>
